:root {
    --sfir-custom-color: var(--slds-g-color-surface-inverse-1, var(--slds-g-color-brand-base-20));
}

.sfir-display-popover-target {
    visibility: hidden;
}

.sfir-display-popover-trigger {
    cursor: pointer;
}

.sfir-display-popover-trigger:hover .sfir-display-popover-target {
    visibility: visible;
}

.slds-builder-header.sfir-header-override {
    background-color: var(--sfir-custom-color);
}

.sfir-full-height{
    height: 100%;
}