#insext {
    z-index: 1000;
    display: block;
    position: fixed;
    vertical-align: middle;
    resize: both;
    overflow: auto;
    width: 280px;
    height: 600px;
    direction: rtl;
}

#insext .insext-popup {
    box-sizing: border-box;
    position:absolute;
    background-color: #ffffff;
    border-radius: 4px;
    z-index: 1;
    border: 1px solid #d8dde6;
    display: none;
    direction: ltr;
    height: 100%;
    width: 100%;
}

#insext .insext-popup-vertical {
    right: 0%;
    border-top-right-radius: 0;
    box-shadow: 0 -2px 2px 0 rgba(0,0,0,.16);
}

#insext .insext-popup-vertical-up {
    bottom: 100%;
}

#insext .insext-popup-horizontal {
    bottom: 20px;
    box-shadow: 2px 0 2px 0 rgba(0,0,0,.16);
}

#insext .insext-popup-horizontal-left {
    right: 0%;
}

#insext .insext-popup-horizontal-centered {
    right: -380%;
}

#insext .insext-popup-horizontal-right {
    left: 0%;
}

#insext.insext-active .insext-popup {
    display: block;
}
#insext .insext-btn {
    box-sizing: border-box;
    background-color: #226b86;
    border-width: 4px;
    border-style: solid;
    border-color: #fff;
    opacity: .4;
}
#insext .insext-btn-vertical {
    width: 15px;
    height: 33px;
    padding: 3px 1px 2px 0;
    border-right-style: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: -2px 0 2px #a0a6ab;
}
#insext .insext-btn-horizontal {
    height: 15px;
    width: 33px;
    padding: 0 2px 1px 3px;
    border-bottom-style: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 -2px 2px #a0a6ab;
}

#insext .insext-btn-vertical:hover,
#insext.insext-active .insext-btn-vertical {
    opacity: 1;
    width: 20px;
}

#insext .insext-btn-horizontal:hover,
#insext.insext-active .insext-btn-horizontal {
    opacity: 1;
    height: 20px;
}

#insext .insext-btn img {
    box-sizing: border-box;
}

#insext .insext-btn-vertical img {
    width: 10px;
    height: 15px;
    margin: 2px;
}

#insext .insext-btn-horizontal img {
    width: 15px;
    height: 10px;
    margin: 2px;
}

.headerFixed {
    position: fixed;
    z-index: 10000;
}

.versionDetailsButton {
    right: 410px;
    color: white;
    border-left: var(--lwc-borderWidthThin, 1px) solid var(--slds-g-color-brand-base-10, var(--lwc-colorBackgroundInverse, rgb(0, 22, 57)));
    padding-left: 16px;
    padding-right: 16px;
}

.versionDetailsButtonSandbox {
    padding-top: 7px;
    padding-bottom: 7px;
    top: 0px;
}

.versionDetailsButtonProd {
    padding-top: 15px;
    padding-bottom: 15px;
    top: 0px;
}

.clearFlowButton {
    right: 250px;
    color: white;
    border-left: var(--lwc-borderWidthThin, 1px) solid var(--slds-g-color-brand-base-10, var(--lwc-colorBackgroundInverse, rgb(0, 22, 57)));
    padding-left: 16px;
    padding-right: 16px;
}

.clearFlowButtonSandbox {
    padding-top: 7px;
    padding-bottom: 7px;
    top: 0px;
}

.clearFlowButtonProd {
    padding-top: 15px;
    padding-bottom: 15px;
    top: 0px;
}

.checkboxScroll {
    right: 78px;
}

.checkboxScrollSandbox {
    top: 10px;
}

.checkboxScrollProd {
    top: 21px;
}

.labeCheckboxScroll {
    right: 100px;
    color: white;
    border-left: var(--lwc-borderWidthThin, 1px) solid var(--slds-g-color-brand-base-10, var(--lwc-colorBackgroundInverse, rgb(0, 22, 57)));
}

.labelCheckboxScrollSandbox {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 16px;
    top: 0px;
}
.labeCheckboxScrollProd {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    top: 0px;
}

.copiedText {
    font-family: "Salesforce Sans", Arial, sans-serif;
    color: #28a745; 
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1;
    margin-left: 4px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    animation: fadeOut 2s forwards;
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }   