@font-face {
  font-family: "Salesforce Sans";
  src: url(fonts/SalesforceSans-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Salesforce Sans";
  src: url(fonts/SalesforceSans-LightItalic.woff2);
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Salesforce Sans";
  src: url(fonts/SalesforceSans-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Salesforce Sans";
  src: url(fonts/SalesforceSans-Italic.woff2);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Salesforce Sans";
  src: url(fonts/SalesforceSans-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Salesforce Sans";
  src: url(fonts/SalesforceSans-BoldItalic.woff2);
  font-style: italic;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
[data-reactroot] {
  height: 100%;
  line-height: 1.5;
  color: #16325c;
}

[data-reactroot] {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Salesforce Sans", Arial, sans-serif;
  font-size: 0.8125rem;
  overflow: hidden;
  margin: 0;
  background-color: #b0c4df;
  background-image: url(images/lightning_blue_background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 48px;
}

#user-info {
  background: #f7f9fb;
  height: 48px;
  padding: 0 12px;
}

#user-info span {
  font-size: 1em;
}

.sf-link {
  background-color: rgb(6, 28, 63);
  border-radius: 3px;
  line-height: 1.8em;
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  color: white;
  padding-right: 1em;
}

.sf-link svg {
  width: 1.8em;
  height: 1.8em;
  display: block;
  margin-left: 1px;
  margin-right: 1em;
  float: left;
  background-color: #ef7ead;
  border-radius: 2px;
  fill: white;
}

textarea {
  display: block;
  width: 100%;
  resize: vertical;
  word-wrap: normal;
  font-size: 0.9rem;
  padding: 8px 10px;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border: 1px solid #dddbda;
}

textarea[hidden] {
  display: none;
}

.help-text {
  background: #fff;
  border: 1px solid #dddbda;
  padding: 0 15px;
  border-radius: 0.25rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

#query {
  height: 5em;
  min-height: 7em;
}

#result-area {
  flex: 1 1 0;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.result-bar {
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
}

.result-info {
  font-style: italic;
  margin-left: 9px;
  color: #8c8c8c;
}

#result-text {
  flex: 1 1 0;
  resize: none;
  white-space: pre;
}

#result-table {
  overflow: auto;
  flex: 1 1 0;
  background-color: #fff;
  border-top: 1px solid #dddbda;
}

.area {
  background-color: #f8f8f8;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #dddbda;
  margin: 12px 12px 0 12px;
}

.query-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.query-controls .button-group {
  margin-bottom: 8px;
}

.query-options {
  margin-bottom: 8px;
}

.query-options label {
  margin-right: 10px;
}

.area input[type="radio"],
.area input[type="checkbox"] {
  margin: 0 2px 0 0;
}

.area label {
  white-space: nowrap;
  cursor: pointer;
}

.area * {
  vertical-align: middle;
}

.query-history-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

select,
input[type="search"],
input[type="save"],
input[type="default"] {
  width: 8.5rem;
  font-family: inherit;
  padding: 5px 13px;
  border: 1px solid #dddbda;
  height: 32px;
  position: relative;
  border-radius: 0.25rem;
}

input[type="search"] {
  background-image: url(images/search.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 10px 7px;
  padding-left: 35px;
  margin-right: 10px;
  border-radius: 0px 4px 4px 0px;
}

input[type="save"] {
  background-image: url(images/save.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 10px 7px;
  padding-left: 35px;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

textarea:not([readonly]):focus,
button:active,
button:focus,
input:active,
input:focus,
select:active,
select:focus {
  border: 1px solid rgb(21, 137, 238);
  box-shadow: rgb(6, 28, 63) 0px 0px 3px 0px;
  outline: none;
  z-index: 1;
}

.button-group button:active:not(:first-child),
.button-group button:focus:not(:first-child),
.button-group input:active:not(:first-child),
.button-group input:focus:not(:first-child),
.button-group select:focus:not(:first-child),
.button-group select:focus:not(:first-child) {
  margin-left: -1px;
  border: 1px solid rgb(21, 137, 238);
}

button:active,
button:focus {
  background-color: rgb(238, 241, 246);
  color: #005fb2;
}

button:disabled,
input:disabled {
  color: #dddbda;
  cursor: default;
}

button:disabled > svg.button-icon {
  fill: #dddbda;
}

button > svg.disabled {
  fill: #dddbda;
}

.highlighted {
  background-color: rgb(0, 112, 210);
  border-color: rgb(0, 112, 210);
  color: #fff;
}

.highlighted:disabled {
  background-color: #c9c7c5;
  border-color: #c9c7c5;
  color: #fff;
}

.highlighted:disabled:hover {
  background-color: #c9c7c5;
  color: #fff;
}

option[value="null"][disabled] {
  display: none;
}

textarea[readonly] {
  outline: none;
  border-radius: 0;
  border: none;
  border-top: 1px solid #dddbda;
}

.flex-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#result-area h1 {
  margin-right: 1em;
}

.cancel-btn {
  margin-left: 1em;
  color: #c23934;
}

.cancel-btn:not(:disabled):hover,
.cancel-btn:not(:disabled):active,
.cancel-btn:not(:disabled):focus {
  color: #a12b2b;
}

.delete-btn {
  background-color: #c23934;
  border-color: #c23934;
  color: white;
  /* Allows to still show the title even when disabled as it contains useful information */
  pointer-events: auto;
}

.delete-btn:not(:disabled):hover,
.delete-btn:not(:disabled):focus {
  background-color: #a61a14;
  border-color: #c23934;
  color: white;
}

.delete-btn:not(:disabled):active {
  background-color: #870500;
  border-color: #870500;
}

.delete-btn:disabled,
.delete-btn:disabled:hover {
  background-color: #c9c7c5;
  border-color: #c9c7c5;
  color: white;
}

.char-btn {
  color: white;
  text-decoration: none;
  background-color: gray;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  line-height: 14px;
  text-align: center;
  margin: 1px 0 0 3px;
}

.char-btn[hidden],
button[hidden],
.button[hidden] {
  display: none;
}

.button-group {
  white-space: nowrap;
}

.button-group button,
.button-group .button,
.button-group select,
.button-group input {
  border-left-width: 0;
  border-radius: 0;
  margin-right: 0;
}

.button-group > :first-child,
.button-group > [hidden] + * {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-left-width: 1px;
}

.button-group > :last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin-right: 10px;
}

button,
.button {
  border: 1px solid #dddbda;
  height: 32px;
  display: inline-block;
  text-decoration: none;
  background-color: white;
  padding: 0 16px;
  color: #0070d2;
  cursor: pointer;
  outline: none;
  position: relative;
  line-height: 32px;
  border-radius: 0.25rem;
  white-space: nowrap;
}

.button-margin {
  margin-right: 10px;
}

button.toggle {
  padding: 0 11px;
}

button.toggle .button-toggle-icon,
button.toggle .button-icon {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 1rem;
  background-color: #706e6b;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.flex-right button:last-child {
  margin-right: 0;
}

button.expand .button-toggle-icon {
  -webkit-mask-image: url(images/down.svg);
}

button.contract .button-toggle-icon {
  -webkit-mask-image: url(images/up.svg);
}

button.toggle .button-icon {
  -webkit-mask-image: url(images/light_bulb.svg);
}

ul > li > a > span {
  color: #0176d3;
}

svg.button-icon {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 1rem;
  display: inline-block;
  width: 16px;
  height: 16px;
  fill: #0070d2;
  vertical-align: sub;
}

.autocomplete-header {
  display: flex;
  align-items: flex-end;
  margin-top: 8px;
}

.autocomplete-header span {
  font-size: 1rem;
}

.autocomplete-results {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}

.expanded .autocomplete-results {
  flex-wrap: wrap;
}

.autocomplete-result,
.autocomplete-results span {
  white-space: nowrap;
}

.sfir-autocomplete-icon {
  display: inline-block;
  margin: 0px 2px -1px 1px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 0.95rem;
  background-color: #706e6b;
  width: 16px;
  height: 13px;
}

.relationshipName {
  font-style: italic;
}

.relationshipName .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/relate.svg);
  background-color: #0070d2;
}

.object .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/sobject.svg);
  background-color: #04844b;
}

.variable .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/variable.svg);
}

.sfir-autocomplete-icon {
  -webkit-mask-image: url(images/quotation_marks.svg);
}

.null .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/steps.svg);
}

.fieldName .sfir-autocomplete-icon {
  /* default icon */
  -webkit-mask-image: url(images/question_mark.svg);
}

.fieldName.reference .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/record_lookup.svg);
}

.fieldName.string .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/string.svg);
}

.fieldName.id .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/anchor.svg);
}

.fieldName.picklist .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/picklist.svg);
}

.fieldName.multipicklist .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/multi-picklist.svg);
}

.fieldName.boolean .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/boolean.svg);
}

.fieldName.phone .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/call.svg);
}

.fieldName.textarea .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/textarea.svg);
}

.fieldName.url .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/link.svg);
}

.fieldName.int .sfir-autocomplete-icon,
.fieldName.double .sfir-autocomplete-icon,
.fieldName.long .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/number.svg);
}

.fieldName.address .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/home.svg);
}

.fieldName.datetime .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/date-time.svg);
}

.fieldName.date .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/date.svg);
}

.fieldName.currency .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/currency.svg);
}

.fieldName.email .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/email.svg);
}

.fieldName.location .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/checkin.svg);
}

.fieldName.percent .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/percent.svg);
}

.fieldName.encryptedstring .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/lock.svg);
}

.fieldName.time .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/clock.svg);
}

.fieldName.complexvalue .sfir-autocomplete-icon {
  -webkit-mask-image: url(images/advanced_function.svg);
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.expanded {
  overflow: auto;
  height: 200px;
}
.help-text a,
.help-text a:visited {
  color: #0176d3;
}

.unified-search-input {
  position: relative;
  align-items: center;
  width: 100%;
}

.filter-input {
  width: 100%;
  padding: 8px 32px 8px 12px;
  border: 1px solid #dddbda;
  border-radius: 4px;
  height: 32px;
  font-size: 0.8125rem;
  color: #16325c;
}

.filter-input:focus {
  border-color: #1589ee;
  box-shadow: 0 0 3px #0070d2;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 250px;
  overflow: auto;
  background-color: white;
  border: 1px solid #dddbda;
  border-radius: 4px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 2px;
  padding: 4px 0;
}

.dropdown-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  font-size: 0.8125rem;
  color: #16325c;
  transition: background-color 0.1s linear;
}

.dropdown-item:hover {
  background-color: #f4f6f9;
}

.dropdown-item input[type="checkbox"] {
  margin-right: 8px;
  width: 1rem;
  height: 1rem;
  border: 1px solid #dddbda;
  border-radius: 0.125rem;
  flex-shrink: 0;
}

.dropdown-item.selected {
  background-color: #f4f6f9;
  font-weight: 700;
}

.unified-search-input input[type="search"] {
  border-radius: 4px 0px 0px 4px !important;
  margin-right: 0 !important;
}
.no-left-radius {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0rem;
}
.no-left-border {
  border-left: 0em;
}
svg.icon {
  fill: #919191;
}
svg.icon:hover {
  fill: #818181;
}
.icon {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 1.4rem;
  -webkit-mask-position: center;
}
.marginTop {
  margin-top: 10px;
}

.query-tabs {
  display: flex;
  padding: 0;
  position: relative;
}

.query-tab {
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: none;
  margin-right: 4px;
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.2s ease;
  user-select: none;
}

.query-tab:hover {
  background-color: #f4f6f9;
}

.query-tab.active {
  background: #fff;
  border-color: #dddbda;
  border-bottom-color: #fff;
  margin-bottom: -1px;
}

.query-tab.active:hover {
  background: #fff;
}

.query-tab.dragging {
  opacity: 0.5;
  transform: rotate(5deg);
}

.query-tab.drop-target {
  position: relative;
}

.query-tab.drop-target::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #706e6b;
  border-radius: 1px;
  z-index: 10;
  box-shadow: 0 0 2px rgba(112, 110, 107, 0.3);
}

.query-tab-name {
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 2px;
  transition: background-color 0.1s;
}

.query-tab-name:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.query-tab-name-input {
  border: 1px solid #1589ee;
  border-radius: 2px;
  padding: 2px 4px;
  font-size: inherit;
  font-family: inherit;
  background: #fff;
  min-width: 60px;
  max-width: 120px;
}

.query-tab-name-input:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(21, 137, 238, 0.3);
}

.query-tab-close {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  color: #706e6b;
  transition: background-color 0.1s;
}

.query-tab-close:hover {
  background: #f3f2f2;
  color: #c23934;
}

.add-tab-button {
  padding: 8px;
  cursor: pointer;
  color: #706e6b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 0.1s;
}

.add-tab-button:hover {
  background: #f3f2f2;
}