#result-table table {
  border: none;
}

#result-table table tr td:first-child {
  border-left: none;
  padding-left: 8px;
}

#result-table table tr:hover>td {
  background-color: var(--inspector-background);
}

.scrolltable-scrolled {
  position: relative;
}

.scrolltable-scrolled table {
  border-collapse: collapse;
  position: absolute;
}

.scrolltable-cell {
  border: 1px solid var(--inspector-neutral);
  overflow: hidden;
  padding: 0 4px;
  background-color: var(--inspector-background);
  white-space: pre;
  box-sizing: border-box;
}

.scrolltable-cell.header {
  font-weight: 700;
  background-color: var(--inspector-shade);
  border-top: none;
  padding-top: 7px;
  padding-bottom: 7px;
  /* position: sticky; */
  /* top: 0; */
  /* z-index: 1; */
}

.scrolltable-cell a {
  color: var(--inspector-link);
  text-decoration: underline;
  text-decoration-style: dotted;
}

#result-table table {
  border: none;
}

#result-table table tr td:first-child {
  border-left: none;
  padding-left: 8px;
}

#result-table table tr:hover>td {
  background-color: var(--inspector-background);
}

.scrolltable-scrolled {
  position: relative;
}

.scrolltable-scrolled table {
  border-collapse: collapse;
  position: absolute;
}

.pop-menu {
  position: absolute;
  padding: 7px 0;
  background: var(--inspector-background);
  box-shadow: 0 2px 3px 0 var(--inspector-text);
  border: 1px solid var(--inspector-neutral)32;
  border-radius: 0.25rem;
}

.pop-menu.saveOptions {
  top: 0;
  margin: 102px 232px 0 0;
  z-index: 2;
}

.pop-menu a {
  display: block;
  text-decoration: none;
  color: var(--inspector-link);
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.pop-menu a .icon {
  /* background-color: var(--inspector-neutral); */
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 8px;
}

.pop-menu a:is(.view-salesforce, .view-inspector, .query-record, copy-id, download-salesforce) .icon {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 1rem;
  mask-size: 1rem;
  -webkit-mask-image: url(images/salesforce1.svg);
  mask-image: url(images/salesforce1.svg);
  -webkit-mask-position: center;
  mask-position: center;
}

/*.pop-menu a.view-salesforce .icon {
  -webkit-mask-image: url(images/salesforce1.svg);
  mask-image: url(images/salesforce1.svg);
}*/

.pop-menu a.view-inspector .icon {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 1rem;
  -webkit-mask-image: url(images/salesforce-inspector-logo.svg);
  mask-image: url(images/salesforce-inspector-logo.svg);
  -webkit-mask-position: center;
}

.pop-menu a.query-record .icon {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 1rem;
  -webkit-mask-image: url(images/record_lookup.svg);
  mask-image: url(images/record_lookup.svg);
  -webkit-mask-position: center;
  background-color: var(--inspector-neutral);
}

.pop-menu a.copy-id .icon {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 1rem;
  -webkit-mask-image: url(images/copy.svg);
  mask-image: url(images/copy.svg);
  -webkit-mask-position: center;
  background-color: var(--inspector-neutral);
}

.pop-menu a.download-salesforce .icon {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 1rem;
  -webkit-mask-image: url(images/down.svg);
  mask-image: url(images/down.svg);
  -webkit-mask-position: center;
}

.pop-menu a.download-salesforce .icon {
  background-color: var(--inspector-success);
}

.pop-menu a.download-salesforce {
  cursor: pointer;
}

.pop-menu a.copy-id {
  cursor: pointer;
}

.pop-menu a.view-salesforce .icon {
  background-color: var(--inspector-accent);
}

.pop-menu a.view-inspector .icon {
  background-color: var(--inspector-warning);
}

.pop-menu a:hover {
  background-color: var(--inspector-background);
}

.pop-menu a:active {
  background-color: var(--inspector-background);
}

/* transitions */
td.scrolltable-cell {
    transition-property: color, background-color;
    transition-duration: var(--inspector-transition-time-slow);
    transition-timing-function: var(--inspector-transition-function);
}
