@font-face {
  font-family: "Salesforce Sans";
  src: url(fonts/SalesforceSans-Light.woff2);
  font-weight: 300;
}
@font-face {
  font-family: "Salesforce Sans";
  src: url(fonts/SalesforceSans-LightItalic.woff2);
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Salesforce Sans";
  src: url(fonts/SalesforceSans-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Salesforce Sans";
  src: url(fonts/SalesforceSans-Italic.woff2);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Salesforce Sans";
  src: url(fonts/SalesforceSans-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Salesforce Sans";
  src: url(fonts/SalesforceSans-BoldItalic.woff2);
  font-style: italic;
  font-weight: 700;
}
* {
  box-sizing: border-box;
  vertical-align: middle;
}
html {
  height: 100%;
}
body {
  font-family: "Salesforce Sans", Arial, sans-serif;
  font-size: 0.8125rem;
  overflow: hidden;
  margin: 0;
  height: 100%;
  display: flex;
  background-color: #b0c4df;
  background-image: url(images/lightning_blue_background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 48px;
}
.prod {
  background-color: #e0a4b5;
  background-image: url(images/lightning_red_background.png);
}
#root {
  display: flex;
  flex-grow: 1;
  width: 100%;
}
[data-reactroot] {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
}
[hidden] {
  display: none !important;
}
#user-info {
  background: #f7f9fb;
  min-height: 48px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  flex-wrap: wrap;
}
#user-info h1 {
  padding: 0 6px 0 10px;
}
#user-info span {
  font-size: 1em;
}
.sf-link {
  background-color: rgb(6, 28, 63);
  border-radius: 3px;
  line-height: 1.8em;
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  color: white;
  padding-right: 1em;
}
.sf-link svg {
  width: 1.8em;
  height: 1.8em;
  display: block;
  margin-left: 1px;
  margin-right: 1em;
  float: left;
  background-color: #ef7ead;
  border-radius: 2px;
  fill: white;
}
#help-btn {
  margin-left: auto;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #919191;
  display: flex;
  align-items: center;
}
svg.icon {
  fill: #919191;
}
svg.icon:hover {
  fill: #818181;
}
.icon {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 1.4rem;
  -webkit-mask-position: center;
}
#spinner {
  left: -15px;
  top: 9px;
}
.flex-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.help-text {
  background: #fff;
  border: 1px solid #dddbda;
  padding: 0 15px;
  border-radius: 0.25rem;
  margin-top: 10px;
  margin-bottom: 5px;
}
.area {
  background-color: #f8f8f8;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #dddbda;
  margin: 12px 12px 0 12px;
}
.area-header {
  margin-bottom: 12px;
}
h1 {
  font-size: 1rem;
  display: inline;
  color: #080707;
  font-weight: 700;
  line-height: 1.25;
  margin: revert;
}
#result-area h1 {
  margin-right: 1em;
}
@media (max-width: 670px) {
  .conf-section {
    display: block;
  }
}
.conf-label,
.columns-label,
label {
  font-weight: normal;
  color: #4a4a56;
  display: flex;
  align-items: center;
}
.conf-label {
  display: inline-block;
  text-align: left;
  width: auto;
  padding-right: 0.5em;
}
.conf-value {
  display: inline-block;
  margin-right: 1em;
  width: auto;
}
.conf-replay-value {
  width: 5rem;
}
.radio-buttons label {
  margin-right: 10px;
  align-items: end;
}
.conf-line {
  margin-top: 5px;
  width: 100%;
  display: flex;
  align-items: center;
}
.conf-line .conf-value {
  flex: 1;
  margin-right: 1em;
}
.conf-line .conf-label {
  min-width: 120px;
}
.conf-error {
  color: #a00;
  margin-left: 12px;
  display: flex;
  align-items: center;
}
.conf-error button {
  margin: 0 0 0 6px;
}
.confError {
  box-shadow: 0 0 3px 1px #a00;
}
.confError + .confError {
  margin-top: 5px;
}
.columns-mapping .conf-line {
  padding: 5px 0;
  margin: 0;
}
.flex-wrapper {
  display: flex;
  align-items: center;
}
.columns-mapping label {
  display: block;
  margin-bottom: 2px;
}
.columns-mapping .conf-label {
  display: block;
}
.columns-mapping .conf-value {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-height: calc(100% - 34px);
}
.columns-mapping .conf-line input[type="search"] {
  flex-grow: 1;
  width: auto;
}
.status-group {
  display: flex;
  flex-wrap: wrap;
}
.status-group div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.status-group label {
  font-weight: bold;
  color: #4a4a56;
  padding-right: 15px;
  white-space: nowrap;
}
label.statusGroupEmpty {
  color: lightgray;
  font-weight: normal;
}
.batch-size {
  width: 3.4em;
}
.char-btn {
  color: white;
  text-decoration: none;
  background-color: gray;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  line-height: 14px;
  text-align: center;
}
#confirm-replayId {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
}
#confirm-dialog {
  width: 400px;
  position: relative;
  margin: 10% auto;
  border-radius: 10px;
  background: #fff;
  padding: 20px;
}
.dialog-buttons {
  text-align: center;
}
.button-space {
  margin-right: 20px;
}
select,
input[type="search"],
input[type="number"],
input[type="text"] {
  font-family: inherit;
  padding: 0 0.75rem;
  border: 1px solid #dddbda;
  border-radius: 0.25rem;
  height: 2rem;
  position: relative;
  background-color: #fff;
  color: #16325c;
  transition: border 0.1s linear, background-color 0.1s linear;
  width: 100%;
}

select:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="text"]:focus {
  border-color: #1589ee;
  background-color: #fff;
  box-shadow: 0 0 3px #0070d2;
  outline: none;
}

select:disabled,
input[type="search"]:disabled,
input[type="number"]:disabled,
input[type="text"]:disabled {
  background-color: #ecebea;
  border-color: #c9c7c5;
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.object-list {
  width: 296px;
}
input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}
.configure-import input[type="checkbox"] {
  margin: 0;
}
textarea:focus,
button:active,
button:focus,
input:active,
input:focus,
select:active,
select:focus {
  border: 1px solid rgb(21, 137, 238);
  box-shadow: rgb(6, 28, 63) 0px 0px 3px 0px;
  outline: none;
  z-index: 1;
}
.button-group button:active:not(:first-child),
.button-group button:focus:not(:first-child),
.button-group input:active:not(:first-child),
.button-group input:focus:not(:first-child),
.button-group select:focus:not(:first-child),
.button-group select:focus:not(:first-child) {
  margin-left: -1px;
  border: 1px solid rgb(21, 137, 238);
}
button:active,
button:focus {
  background-color: rgb(238, 241, 246);
  color: #005fb2;
}
button:disabled,
input:disabled {
  color: #dddbda;
  cursor: default;
}
button:disabled:hover {
  background-color: #fff;
  color: #dddbda;
}
.highlighted {
  background-color: rgb(0, 112, 210);
  border-color: rgb(0, 112, 210);
  color: #fff;
}
.highlighted:hover,
.highlighted:active {
  background-color: rgb(0, 95, 178);
  color: #fff;
}
.highlighted:disabled {
  background-color: #c9c7c5;
  border-color: #c9c7c5;
  color: #fff;
}
.highlighted:disabled:hover {
  background-color: #c9c7c5;
  color: #fff;
}
option[value="null"][disabled] {
  display: none;
}
textarea {
  outline: none;
  border-radius: 0.25rem;
  border: 1px solid #dddbda;
}
button,
.button {
  border: 1px solid #dddbda;
  height: 32px;
  display: inline-block;
  text-decoration: none;
  background-color: white;
  padding: 0 16px;
  color: #0070d2;
  cursor: pointer;
  outline: none;
  position: relative;
  line-height: 32px;
  border-radius: 0.25rem;
  margin-right: 10px;
  white-space: nowrap;
}
button:hover,
.button:hover {
  background-color: #f4f6f9;
  color: #005fb2;
}
button.toggle {
  padding: 0 11px;
}
.button.field-info {
  margin: 0 0 0 5px;
  padding: 0 8px;
  line-height: 28px;
}
.button-toggle-icon,
.button-icon {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 1rem;
  background-color: #706e6b;
  display: inline-block;
  width: 16px;
  height: 16px;
}
button.toggle:hover .button-icon,
button.toggle:hover .button-toggle-icon {
  background-color: #004487;
}
.flex-right button:last-child {
  margin-right: 0;
}
button.expand .button-toggle-icon {
  -webkit-mask-image: url(images/down.svg);
}
button.contract .button-toggle-icon {
  -webkit-mask-image: url(images/up.svg);
}
.button.field-info .button-icon {
  -webkit-mask-image: url(images/salesforce-inspector-logo.svg);
}
.area.result-area {
  padding: 0;
}
#result-area {
  flex: 1 1 0;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.result-bar {
  display: flex;
  align-items: center;
  padding: 8px 12px;
}
#result-table {
  overflow: auto;
  flex: 1 1 0;
  background-color: #fff;
  border-top: 1px solid #dddbda;
}
.event-box {
  margin: 4px;
  padding: 8px;
  clear: both;
  float: left;
  white-space: pre-wrap;
}
.event-not-selected {
  border-bottom: 1px solid #dddbda;
}
.event-selected {
  border: 2px solid rgb(3, 153, 63);
}
.channel-listening {
  margin-left: 2%;
  color: green;
}

.channel-error {
  margin-left: 2%;
  color: red;
}
.reset-margin {
  margin: 0;
}
code {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}
.help-text a:visited {
  color: #0176d3;
}
.filter-box {
  white-space: nowrap;
  margin: 0 0.5rem;
  position: relative;
}
.filter-input {
  font: inherit;
  width: 20em;
  padding: 0 2.5rem;
  background-color: #fff;
  color: #16325c;
  border: 1px solid #d8dde6;
  border-radius: 0.25rem;
  transition: border 0.1s linear, background-color 0.1s linear;
  display: inline-block;
  line-height: 1.875rem;
  min-height: calc(1.875rem + (1px * 2));
}
.filter-input:active,
.filter-input:focus {
  outline: 0;
  border-color: #1589ee;
  background-color: #fff;
  box-shadow: 0 0 3px #0070d2;
}
.filter-icon {
  left: 0.75rem;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
  fill: #9faab5;
}
.filter-clear {
  right: 0.75rem;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
  fill: #9faab5;
  line-height: 1;
  vertical-align: middle;
  color: #54698d;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  text-decoration: none;
  transition: color 50ms linear, background-color 50ms linear;
}
.filter-clear-icon {
  width: 0.875rem;
  height: 0.875rem;
}
.conf-input {
  width: 100%;
  max-width: 800px;
}
