* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  box-sizing: border-box;
}
select {
  width: 100%;
}
textarea {
  display:block;
  width: 100%;
  height: 40em;
  resize: vertical;
  word-wrap: normal;
  font-size: 11px;
  color: var(--inspector-text);
  background-color: var(--inspector-background);
}
li:hover {
  background-color: var(--inspector-background);
}
input[type=radio] {
  margin: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
td,th {
  border: 1px solid var(--inspector-neutral);
  white-space: pre;
}
.edit-form label {
  display: flex;
  align-items: center;
  padding: 4px;
}
.edit-form label > :first-child {
  width: 100px;
  flex: unset;
}
.edit-form label > * {
  flex: 1;
}
.status-error {
  font-weight: bold;
  color: var(--inspector-error);
}

#result-table table tr:first-child {
  font-weight: 700;
  background-color: var(--inspector-background);
  border-top: none;
  padding-top: 7px;
  padding-bottom: 7px;
}
pre {
    outline: 1px solid var(--inspector-text-neutral);
    padding: 5px;
    margin: 5px;
}
.string {
    color: var(--inspector-success);
}
.number {
    color: var(--inspector-number);
}
.boolean {
    color: var(--inspector-true-boolean);
}
.null {
    color: var(--inspector-object);
}
.key {
    color: var(--inspector-error);
}
