* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  box-sizing: border-box;
}
select {
  width: 100%;
}
#result-table textarea {
  display:block;
  width: 100%;
  height: 40em;
  resize: vertical;
  word-wrap: normal;
  font-size: 11px;
}
li:hover {
  background-color: lightblue;
}
input[type=radio] {
  margin: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
td,th {
  border: 1px solid gray;
  white-space: pre;
}
.edit-form label {
  display: flex;
  align-items: center;
  padding: 4px;
}
.edit-form label > :first-child {
  width: 100px;
  flex: unset;
}
.edit-form label > * {
  flex: 1;
}
.status-error {
  font-weight: bold;
  color: red;
}
#result-table {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  width: 100%;
}

#result-table table tr:first-child {
  font-weight: 700;
  background-color: #FAFAF9;
  border-top: none;
  padding-top: 7px;
  padding-bottom: 7px;
}
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.form-line {
  margin-top: 5px;
  display: flex;
  flex: 1 1 0;
}
.form-input {
  
}
.form-label {
  font-weight: normal;
  color: #4a4a56;
  display: flex;
  align-items: center;
  display: inline-block;
  text-align: left;
  width: 9em;
  padding-right: 1em;
}
.form-value, .form-value * {
  width: 100%;
}
#query-area {
  display: flex;
  flex-direction: column;
}
.highlighted {
  margin-left: 10px;
}