html {
    --inspector-black: #000000;
    --inspector-white: #FFFFFF;

    --inspector-dark-white: #F3F3F3;
    --inspector-very-light-gray: #AFAFAF;

    --inspector-light-blue: #1789EE;/*#0176d3*/
    --inspector-light-gray: #787878;
    --inspector-light-green: #9BC53D;
    --inspector-light-pink: #E0A4B5;
    --inspector-light-purple: #990099;
    --inspector-light-red: #C3423F;
    --inspector-light-yellow: #FDE74C;

    --inspector-dark-blue: #00396B;
    --inspector-dark-gray: #252525;/*#404E4D;*/
    --inspector-dark-green: #018E42;
    --inspector-dark-pink: #BD4F6C;
    --inspector-dark-purple: #49416D;
    --inspector-dark-red: #A31914;
    --inspector-dark-yellow: #999900;

    --inspector-export-background: #B0C4DF;
    --inspector-import-background: #E0A4B5;
}

[data-theme="light"] {
    --inspector-background: var(--inspector-white);
    --inspector-text: var(--inspector-black);
    --inspector-inverted-text: var(--inspector-white);
    --inspector-text-neutral: var(--inspector-light-gray);
    --inspector-icon-logo: var(--inspector-light-yellow);

    --inspector-primary: var(--inspector-light-blue);
    --inspector-accent: var(--inspector-light-blue);
    --inspector-dark-neutral: var(--inspector-dark-gray);
    --inspector-neutral: var(--inspector-light-gray);
    --inspector-shade: var(--inspector-dark-white);

    --inspector-link: var(--inspector-light-blue);
    --inspector-visited-link: var(--inspector-light-purple);

    --inspector-success: var(--inspector-light-green);
    --inspector-warning: var(--inspector-light-yellow);
    --inspector-error: var(--inspector-light-red);
    --inspector-strong-error: var(--inspector-dark-red);

    --inspector-object: var(--inspector-dark-yellow);
    --inspector-number: var(--inspector-dark-pink);
    --inspector-false-boolean: var(--inspector-light-red);
    --inspector-true-boolean: var(--inspector-dark-blue);

    --inspector-svg-picture: var(--inspector-light-pink);
    --inspector-svg-background: var(--inspector-light-blue);

    --inspector-working: var(--inspector-dark-pink);
}

[data-theme="dark"] {
    --inspector-background: var(--inspector-black);
    --inspector-text: var(--inspector-white);
    --inspector-inverted-text: var(--inspector-black);
    --inspector-text-neutral: var(--inspector-very-light-gray);
    --inspector-icon-logo: var(--inspector-dark-yellow);
    
    --inspector-primary: var(--inspector-light-blue);
    --inspector-accent: var(--inspector-dark-blue);
    --inspector-dark-neutral: var(--inspector-dark-gray);
    --inspector-neutral: var(--inspector-light-gray);
    --inspector-shade: var(--inspector-dark-gray);

    --inspector-link: var(--inspector-light-blue);
    --inspector-visited-link: var(--inspector-light-pink);

    --inspector-success: var(--inspector-dark-green);
    --inspector-warning: var(--inspector-dark-yellow);
    --inspector-error: var(--inspector-light-red);
    --inspector-strong-error: var(--inspector-dark-red);

    --inspector-object: var(--inspector-light-yellow);
    --inspector-number: var(--inspector-light-pink);
    --inspector-false-boolean: var(--inspector-light-red);
    --inspector-true-boolean: var(--inspector-light-blue);

    --inspector-svg-picture: var(--inspector-dark-pink);
    --inspector-svg-background: var(--inspector-dark-blue);

    --inspector-working: var(--inspector-light-purple);
}

:is(div, input, ul, a):not(:has([style*=transparent])), 
div.table-container > table > tbody > tr,
.gauge::before, .gauge::after, .table-settings-button, th.th-filter-row {
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

:is(select, input):is(.slds-input, .query-history),
.conf-value > :is(select, input),
:is(span, button):is(.button, .progress),
div:is(.header-logo, .object-name),
div.all-data-box-data > table,
a.sf-link, textarea, td.scrolltable-cell, input::placeholder, th[tabindex], button.actions-button {
    transition-property: color, background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

div.header-logo svg,
a:is(.sf-link, .button.field-info) svg {
    transition-property: fill, background-color;
    transition-duration: inherit;
    transition-timing-function: inherit;
}

:is(span, label):not(:has(> span)), 
#result-table > :not(div),
div:is(.value-text, .center, .all-data-box-inner.empty),
svg.slds-icon, h1, figcaption, .meter-value {
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

th.th-filter-row > input {
    transition-property: color, border-color;
    transition-duration: inherit;
    transition-timing-function: inherit;
}

#insext {
    & :is(.insext-popup-vertical, .insext-popup-horizontal) {
        transition-property: box-shadow;
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
    }

    & :is(.insext-btn.insext-btn-vertical, .insext-btn.insext-btn-horizontal) {
        transition-property: box-shadow, background-color, border-color;
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
    }
}

a:is(.slds-button, .slds-tabs_default__link, .slds-button) {
    &:has(> span) {
      transition-property: background-color;
    }

    &:not(:has(> span)) {
      transition-property: color, background-color;
    }

    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

div.object-name > span.quick-select {
    transition-property: none;
}

#light-theme, #dark-theme {
    cursor: pointer;
    transition-property: display, visibility;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

body {
    background-color: var(--inspector-background);
    color: var(--inspector-text);
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

a {
    color: var(--inspector-link);
}
