html,
body,
#root,
[data-reactroot] {
  height: 100%;
}

.prod {
  background-color: #e0a4b5;
  background-image: url(images/lightning_red_background.png);
}

[data-reactroot] {
  display: flex;
  flex-direction: column;
}

html {
  background-color: #b0c4df;
  background-image: url(images/lightning_blue_background.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.value-text {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.value-text.value-is-object {
  color: #990;
}

.value-text.value-is-number {
  color: #909;
}

.value-text.value-is-boolean {
  color: #900;
}

.value-text.value-is-boolean-true {
  color: #099;
}

.value-text.value-is-blank {
  color: #aaa;
  font-style: italic;
}

.value-text.value-is-unknown {
  color: #aaa;
  font-style: italic;
}

tr.fieldCalculated {
  font-style: italic;
}

tr.fieldHidden,
tr.fieldHidden a[href] {
  color: #777;
}


.field-column {
  max-width: 200px;
  /* To handle long words. This is not actually 200px but scales with the table. Table layout magic. */
}

th[tabindex] {
  cursor: pointer;
}

.sfir-filter-clear {
  right: 0.75rem;
  position: absolute;
  top: 20%;
  fill: #9faab5;
  line-height: 1;
  color: #54698d;
}

.sfir-filter-clear-icon {
  width: 0.875rem;
  height: 0.875rem;
  fill: currentColor;
}