html {
    /* default */
    --inspector-black: #000000;
    --inspector-white: #FFFFFF;

    --inspector-dark-white: #F3F3F3;
    --inspector-very-light-gray: #AFAFAF;

    --inspector-light-blue: #1789EE;
    --inspector-light-gray: #787878;
    --inspector-light-green: #9BC53D;
    --inspector-light-pink: #E0A4B5;
    --inspector-light-purple: #990099;
    --inspector-light-red: #C3423F;
    --inspector-light-yellow: #FDE74C;

    --inspector-dark-blue: #00396B;
    --inspector-dark-gray: #252525;
    --inspector-dark-green: #018E42;
    --inspector-dark-pink: #BD4F6C;
    --inspector-dark-purple: #49416D;
    --inspector-dark-red: #A31914;
    --inspector-dark-yellow: #999900;

    --inspector-export-background: #B0C4DF;
    --inspector-import-background: #E0A4B5;

    /* accent */ 
    --inspector-accent-black: #2B2A33;
    --inspector-accent-white: #E8E9EB;

    --inspector-accent-dark-white: #DCDCDC;
    --inspector-accent-very-light-gray: #989898;

    --inspector-accent-light-blue: #0176d3;
    --inspector-accent-light-gray: #616161;
    --inspector-accent-light-green: #85C852;
    --inspector-accent-light-pink: #CAA9AA;
    --inspector-accent-light-purple: #63058E;
    --inspector-accent-light-red: #AD4734;
    --inspector-accent-light-yellow: #E7EC41;

    --inspector-accent-dark-blue: #163460;
    --inspector-accent-dark-gray: #404E4D;
    --inspector-accent-dark-green: #17894D;
    --inspector-accent-dark-pink: #D34A77;
    --inspector-accent-dark-purple: #5F3C78;
    --inspector-accent-dark-red: #B9141F;
    --inspector-accent-dark-yellow: #AF940B;

    /*--inspector-accent-export-background: #B0C4DF;
    --inspector-accent-import-background: #E0A4B5;*/
}

#insext, :is(html, #insext)[data-theme="light"] {
    --inspector-background: var(--inspector-white);
    --inspector-text: var(--inspector-black);
    --inspector-inverted-text: var(--inspector-background);
    --inspector-text-neutral: var(--inspector-neutral);

    --inspector-primary: var(--inspector-light-blue);
    --inspector-accent: var(--inspector-dark-blue);
    --inspector-neutral: var(--inspector-light-gray);
    --inspector-shade: var(--inspector-dark-white);
    --inspector-dark-neutral: var(--inspector-dark-gray);

    --inspector-link: var(--inspector-primary);
    --inspector-visited-link: var(--inspector-light-purple);

    --inspector-success: var(--inspector-light-green);
    --inspector-warning: var(--inspector-light-yellow);
    --inspector-error: var(--inspector-light-red);
    --inspector-strong-error: var(--inspector-dark-red);

    --inspector-object: var(--inspector-dark-yellow);
    --inspector-number: var(--inspector-dark-pink);
    --inspector-false-boolean: var(--inspector-error);
    --inspector-true-boolean: var(--inspector-accent);

    --inspector-icon-logo: var(--inspector-warning);
    --inspector-svg-text: var(--inspector-shade);
    --inspector-svg-picture: var(--inspector-light-pink);
    --inspector-svg-background: var(--inspector-primary);

    --inspector-working: var(--inspector-number);

    --inspector-default-background-preview: var(--inspector-background);
    --inspector-default-text-preview: var(--inspector-text);
    --inspector-accent-background-preview: var(--inspector-accent-white);
    --inspector-accent-text-preview: var(--inspector-accent-black);

    --inspector-button: var(--inspector-accent);
}

#insext, :is(html, #insext)[data-theme="dark"] {
    --inspector-background: var(--inspector-black);
    --inspector-text: var(--inspector-white);
    --inspector-inverted-text: var(--inspector-background);
    --inspector-text-neutral: var(--inspector-very-light-gray);
    
    --inspector-primary: var(--inspector-dark-blue);
    --inspector-accent: var(--inspector-light-blue);
    --inspector-neutral: var(--inspector-light-gray);
    --inspector-shade: var(--inspector-dark-gray);
    --inspector-dark-neutral: var(--inspector-shade);

    --inspector-link: var(--inspector-accent);
    --inspector-visited-link: var(--inspector-light-pink);

    --inspector-success: var(--inspector-dark-green);
    --inspector-warning: var(--inspector-dark-yellow);
    --inspector-error: var(--inspector-light-red);
    --inspector-strong-error: var(--inspector-dark-red);

    --inspector-object: var(--inspector-light-yellow);
    --inspector-number: var(--inspector-visited-link);
    --inspector-false-boolean: var(--inspector-error);
    --inspector-true-boolean: var(--inspector-accent);

    --inspector-icon-logo: var(--inspector-warning);
    --inspector-svg-text: var(--inspector-text);
    --inspector-svg-picture: var(--inspector-dark-pink);
    --inspector-svg-background: var(--inspector-primary);

    --inspector-working: var(--inspector-light-purple);

    --inspector-default-background-preview: var(--inspector-background);
    --inspector-default-text-preview: var(--inspector-text);
    --inspector-accent-background-preview: var(--inspector-accent-black);
    --inspector-accent-text-preview: var(--inspector-accent-white);

    --inspector-button: var(--inspector-primary);
}

#insext, :is(html, #insext)[data-theme="light"][data-accent="accent"] {
    --inspector-background: var(--inspector-accent-white);
    --inspector-text: var(--inspector-accent-black);
    --inspector-inverted-text: var(--inspector-background);
    --inspector-text-neutral: var(--inspector-neutral);

    --inspector-primary: var(--inspector-accent-light-blue);
    --inspector-accent: var(--inspector-light-blue);
    --inspector-neutral: var(--inspector-accent-light-gray);
    --inspector-shade: var(--inspector-accent-dark-white);

    --inspector-link: var(--inspector-primary);
    --inspector-visited-link: var(--inspector-accent-light-purple);

    --inspector-success: var(--inspector-accent-light-green);
    --inspector-warning: var(--inspector-accent-light-yellow);
    --inspector-error: var(--inspector-accent-light-red);
    --inspector-strong-error: var(--inspector-accent-dark-red);

    --inspector-object: var(--inspector-accent-dark-yellow);
    --inspector-number: var(--inspector-accent-dark-pink);
    --inspector-false-boolean: var(--inspector-error);
    --inspector-true-boolean: var(--inspector-accent-dark-blue);

    --inspector-icon-logo: var(--inspector-warning);
    --inspector-svg-text: var(--inspector-dark-white);
    --inspector-svg-picture: var(--inspector-accent-light-pink);
    --inspector-svg-background: var(--inspector-primary);

    --inspector-working: var(--inspector-number);

    --inspector-default-background-preview: var(--inspector-white);
    --inspector-default-text-preview: var(--inspector-black);
    --inspector-accent-background-preview: var(--inspector-background);
    --inspector-accent-text-preview: var(--inspector-text);

    --inspector-button: var(--inspector-accent);
}

#insext, :is(html, #insext)[data-theme="dark"][data-accent="accent"] {
    --inspector-background: var(--inspector-accent-black);
    --inspector-text: var(--inspector-accent-white);
    --inspector-inverted-text: var(--inspector-background);
    --inspector-text-neutral: var(--inspector-accent-very-light-gray);
    
    --inspector-primary: var(--inspector-accent-dark-blue);
    --inspector-accent: var(--inspector-accent-light-blue);
    --inspector-neutral: var(--inspector-accent-light-gray);
    --inspector-dark-neutral: var(--inspector-shade);
    --inspector-shade: var(--inspector-accent-dark-gray);

    --inspector-link: var(--inspector-light-blue);
    --inspector-visited-link: var(--inspector-accent-light-pink);

    --inspector-success: var(--inspector-accent-dark-green);
    --inspector-warning: var(--inspector-accent-dark-yellow);
    --inspector-error: var(--inspector-accent-light-red);
    --inspector-strong-error: var(--inspector-accent-dark-red);

    --inspector-object: var(--inspector-accent-light-yellow);
    --inspector-number: var(--inspector-visited-link);
    --inspector-false-boolean: var(--inspector-error);
    --inspector-true-boolean: var(--inspector-accent);

    --inspector-icon-logo: var(--inspector-warning);
    --inspector-svg-text: var(--inspector-text);
    --inspector-svg-picture: var(--inspector-accent-dark-pink);
    --inspector-svg-background: var(--inspector-primary);

    --inspector-working: var(--inspector-accent-light-purple);

    --inspector-default-background-preview: var(--inspector-black);
    --inspector-default-text-preview: var(--inspector-white);
    --inspector-accent-background-preview: var(--inspector-background);
    --inspector-accent-text-preview: var(--inspector-text);

    --inspector-button: var(--inspector-primary);
}

:is(div, input, ul, a):not(:has([style*=transparent])), 
div.table-container > table > tbody > tr,
.gauge::before, .gauge::after, .table-settings-button, th.th-filter-row, #save-wrapper {
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

:is(select, input):is(.slds-input, .query-history),
.conf-value > :is(select, input),
:is(span, button, a):is(.button, .progress),
div:is(.header-logo, .object-name),
div.all-data-box-data > table,
div.flex-wrapper :is(button, input),
div.button-group > :is(button, input),
div:is(.autocomplete-header, .conf-line) > div.flex-right > button,
button:is(.actions-button, .cancel-btn),
div#result-area > div.result-bar input,
#root > div > div:last-child > div:is(.slds-size_2-of-12, .slds-size_1-of-12) > a > svg,
a.sf-link, textarea, td.scrolltable-cell, input::placeholder, th[tabindex], .slds-tabs_default__link, input.filter-input, input.all-data-input {
    transition-property: color, background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

div.header-logo svg,
a:is(.sf-link, .button.field-info) svg,
#save-wrapper svg {
    transition-property: fill, background-color;
    transition-duration: inherit;
    transition-timing-function: inherit;
}

:is(span, label, li):not(:has(> span, > label)), 
#result-table > :not(div),
div:is(.value-text, .center, .all-data-box-inner.empty, .log-info, .log-working),
#save-wrapper > input,
a.autocomplete-item span > mark,
div.all-data-box-data > table :is(th, td > *),
#root > div > div:last-child > div.slds-size_5-of-12 > :is(a, span, input),
h1:not(:has(> span)), 
figcaption, .meter-value {
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

th.th-filter-row > input {
    transition-property: color, border-color;
    transition-duration: inherit;
    transition-timing-function: inherit;
}

svg.slds-icon {
    transition-property: color, fill;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

#insext {
    & :is(.insext-popup-vertical, .insext-popup-horizontal) {
        transition-property: box-shadow;
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
    }

    & :is(.insext-btn.insext-btn-vertical, .insext-btn.insext-btn-horizontal) {
        transition-property: box-shadow, background-color, border-color;
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
    }
}

a:is(.slds-button, .slds-button) {
    &:has(> span) {
      transition-property: background-color;
    }

    &:not(:has(> span)) {
      transition-property: color, background-color;
    }

    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

div.area > div.conf-value,
#mainTabs {
    transition-property: scrollbar-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

#result-table, div.table-container {
    transition-property: background-color, scrollbar-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

div.object-name > span.quick-select {
    transition-property: none;
}

#light-theme, #dark-theme {
    cursor: pointer;
    transition-property: display, visibility;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

body {
    background-color: var(--inspector-background);
    color: var(--inspector-text);
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    scrollbar-color: var(--inspector-neutral) var(--inspector-shade);
}

a {
    color: var(--inspector-link);
}
