.sfir-inspect-table-text {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.sfir-inspect-table-text.value-is-object {
  color: #990;
}

.sfir-inspect-table-text.value-is-number {
  color: #909;
}

.sfir-inspect-table-text.value-is-boolean {
  color: #900;
}

.sfir-inspect-table-text.value-is-boolean-true {
  color: #099;
}

.sfir-inspect-table-text.value-is-blank {
  color: #aaa;
  font-style: italic;
}

.sfir-inspect-table-text.value-is-unknown {
  color: #aaa;
  font-style: italic;
}

tr.fieldCalculated {
  font-style: italic;
}

tr.fieldHidden,
tr.fieldHidden a[href] {
  color: #777;
}

.sfir-field-column {
  max-width: 200px;
  /* To handle long words. This is not actually 200px but scales with the table. Table layout magic. */
}

.sfir-filter-clear {
  right: 0.75rem;
  position: absolute;
  top: 20%;
  fill: #9faab5;
  line-height: 1;
  color: #54698d;
}

.sfir-filter-clear-icon {
  width: 0.875rem;
  height: 0.875rem;
  fill: currentColor;
}