/*********
* Gauges *
**********/
figure {
  display: table;
  margin: 0 auto 1rem auto;
  width: 100%;
}
figcaption {
  text-align: center;
  font-weight: bold;
  display: table-caption;
  caption-side: bottom;
  height: 55px;
  font-size: 1.2em;
}
figcaption > div {
  font-weight: normal;
  font-size: 0.8em;
  margin-top: 2px;
}
.gauge {
  display: block;
  position: relative;
  width: 10rem;
  height: 5rem;
  overflow: hidden;
  margin: 0 auto;
}
.gauge:before,
.gauge:after,
.meter {
  position: absolute;
  display: block;
  content: "";
}
.gauge:before,
.meter {
  width: 10rem;
  height: 5rem;
}
.gauge:before {
  border-radius: 5rem 5rem 0 0;
  background: grey;
}
.gauge:after {
  position: absolute;
  bottom: 0;
  left: 2.5rem;
  width: 5rem;
  height: 2.5rem;
  background: #ffffff;
  border-radius: 2.5rem 2.5rem 0 0;
}
.meter {
  top: 100%;
  transition: 1.5s;
  transform-origin: center top;
  border-radius: 0 0 6rem 6rem;
  background: deepskyblue;
}
.meter-value-container {
  position: absolute;
  bottom: -0.75rem;
  left: 2.5rem;
  z-index: 1000;
  width: 5rem;
  height: 2.5rem;
  overflow: hidden;
  text-align: center;
}
.meter-value {
  font: bold 1.25rem/1.6 sans-serif;
  color: #333;
  line-height: 2.5rem;
  white-space: pre;
  transition: 1.5s;
  vertical-align: baseline;
  user-select: none;
}