@font-face {
    font-family:'Salesforce Sans';
    src:url(fonts/SalesforceSans-Light.woff2);
    font-weight:300
  }
  @font-face {
    font-family:'Salesforce Sans';
    src:url(fonts/SalesforceSans-LightItalic.woff2);
    font-style:italic;
    font-weight:300
  }
  @font-face {
    font-family:'Salesforce Sans';
    src:url(fonts/SalesforceSans-Regular.woff2);
    font-weight:400
  }
  @font-face {
    font-family:'Salesforce Sans';
    src:url(fonts/SalesforceSans-Italic.woff2);
    font-style:italic;
    font-weight:400
  }
  @font-face {
    font-family:'Salesforce Sans';
    src:url(fonts/SalesforceSans-Bold.woff2);
    font-weight:700
  }
  @font-face {
    font-family:'Salesforce Sans';
    src:url(fonts/SalesforceSans-BoldItalic.woff2);
    font-style:italic;
    font-weight:700
  }
  * {
    box-sizing: border-box;
    vertical-align: middle;
  }
  html {
    height: 100%;
  }
  body {
    font-family: "Salesforce Sans", Arial, sans-serif;
    font-size: .8125rem;
    overflow: hidden;
    margin: 0;
    height: 100%;
    display: flex;
    background-color: #B0C4DF !important;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/lightning_blue_background.png') !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: 0px 48px !important;
  }
  #root {
    display: flex;
    flex-grow: 1;
    width: 100%;
  }
  [data-reactroot] {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
  }
  [hidden] {
    display: none !important;
  }
  
  #user-info {
    background: #f7f9fb;
    min-height: 48px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    flex-wrap: wrap;
  }
  
  #user-info h1 {
    padding: 0 6px 0 10px;
  }
  
  #user-info span {
    font-size: 1em;
  }
  
  .sf-link {
    background-color: rgb(6, 28, 63);
    border-radius: 3px;
    line-height: 1.8em;
    text-decoration: none;
    display: inline-block;
    padding: 2px;
    color: white;
    padding-right: 1em;
  }
  
  .sf-link svg {
    width: 1.8em;
    height: 1.8em;
    display: block;
    margin-left: 1px;
    margin-right: 1em;
    float: left;
    background-color: #ef7ead;
    border-radius: 2px;
    fill: white;
  }
  
  .flex-right {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .download-icon {
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 1rem;
    fill: #706E6B;
    display: inline-block;
    width: 16px;
    height: 16px;
  }
  
  label {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .prod {
    background-color: #e0a4b5 !important;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/lightning_red_background.png') !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: 0px 48px !important;
  }
  #user-info {
    background: #f7f9fb;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    flex-wrap: wrap;
  }
  
  #user-info h1 {
    padding: 0 6px 0 10px;
  }
  
  #user-info span {
    font-size: 1em;
  }
  .sf-link {
    background-color: rgb(6, 28, 63);
    border-radius: 3px;
    line-height: 1.8em;
    text-decoration: none;
    display: inline-block;
    padding: 2px;
    color: white;
    padding-right: 1em;
  }
  
  .sf-link svg {
    width: 1.8em;
    ;
    height: 1.8em;
    ;
    display: block;
    margin-left: 1px;
    margin-right: 1em;
    float: left;
    background-color: #ef7ead;
    border-radius: 2px;
    fill: white;
  }
  .area {
    background-color: #F8F8F8;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #DDDBDA;
    margin: 12px 12px 0 12px;
    height: 90%;
  }
  .area-header {
    display: flex;
  }
  .script-controls {
    display: flex;
  }
  .script-controls div {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #DDDBDA;
  }
  .script-controls label {
    padding-right: 10px;
  }
  h1 {
    font-size: 1rem;
    display: inline;
    color: #080707;
    font-weight: 700;
    line-height: 1.25;
  }
  .line-numbers {
    text-align: right;
    padding: 8px 10px;
  }
  
  .line-numbers span {
    font-size: .8125rem;
    display: block;
    color: #506882;
  }

  .editor {
    overflow: auto;
    display: flex;
    border-radius: 0.25rem;
    border: 1px solid #DDDBDA;
  }
  /*.scrolled {
    display: flex;
  }*/
  #log-text {
    display: block;
    width: 100%;
    resize: vertical;
    word-wrap: normal;
    font-size: .8125rem;
    padding: 8px 10px;
    float: left;
    clear: left; /*or display: inline-block; */
    white-space: pre;
  }
  .highlight {
    background: khaki;
    vertical-align: baseline;
  }
  .tree-icon {
    align-self: center;
    width: 0.75rem;
    height: 0.75rem;
    fill: blue;
  }
  /*thead th {
    resize: horizontal;
    overflow: hidden;
    position: sticky;
    top: 0;
  }*/
  
.top-btn {
  margin-left: auto;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #919191;
  display: flex;
  align-items: center;
}

.top-btn:hover .icon {
  background-color: #818181;
}

.top-btn .icon {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  ;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 1.4rem;
  ;
  -webkit-mask-position: center;
  background-color: #919191;
}

#options-btn .icon {
  -webkit-mask-image: url('chrome-extension://__MSG_@@extension_id__/images/settings.svg');
}