* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  margin: 0;
}
.sf-link {
  margin-right: 1em;
  background-color: var(--inspector-svg-background);
  border-radius: 3px;
  line-height: 2em;
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  color: var(--inspector-svg-text);
  padding-right: 1em;
}
.sf-link svg {
  width: 2em;
  height: 2em;
  display: block;
  margin-left: 1px;
  margin-right: 1em;
  float: left;
  background-color: var(--inspector-svg-picture);
  border-radius: 2px;
  fill: var(--inspector-svg-text);
}
.log-error {
  color: var(--inspector-error);
  font-weight: bold;
}
.log-working {
  color: var(--inspector-working);
  font-weight: bold;
}
.object-bar {
  position: fixed;
  background-color: var(--inspector-shade);
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  align-items: center;
}
.object-bar > a:last-child {
  color: var(--inspector-link);
}
.progress {
  margin: 0 .3rem;
  display: inline-block;
  background-color: var(--inspector-background);
  padding: 8px 12px;
  border-radius: 3px;
  cursor: default;
}
.progress-ready {
  background-color: var(--inspector-shade);
}
@keyframes working {
  50% {
    background-color: var(--inspector-working)/*#ccf;*/
  }
}
.progress-working {
  background-color: var(--inspector-working);/*#88f;*/
  animation: working 1s cubic-bezier(.5, .4, .5, .6) infinite;
  color: var(--inspector-text)
}
.progress-done {
  background-color: var(--inspector-success);/*#8f8;*/
}
.button {
  margin: 0 .3rem;
  display: inline-block;
  border: 1px solid var(--inspector-neutral);
  padding: 8px 12px;
  border-radius: 3px;
  font: unset;
  color: var(--inspector-text);
  background-color: var(--inspector-primary);
  cursor: pointer;
}
.button:hover {
  background-color: var(--inspector-accent);
  color: var(--inspector-text-neutral);
}
.body {
  padding: 4.3em 8px 8px;
  background-color: var(--inspector-background);
}
.flex {
  flex: 1;
}
label {
  display: inline-block;
  margin: 2px 5px;
}
div.body > div > p {
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

html {
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  scrollbar-color: var(--inspector-neutral) var(--inspector-shade);
}


/* transitions */
div:is(.log-info, .log-working) {
    transition-property: color;
    transition-duration: var(--inspector-transition-time-slow);
    transition-timing-function: var(--inspector-transition-function);
}

span.progress {
    transition-property: color, background-color;
    transition-duration: var(--inspector-transition-time-slow);
    transition-timing-function: var(--inspector-transition-function);
}
