/* Using SLDS fonts */

:root {
  --sfir-blue-color: var(--slds-g-color-palette-electric-blue-50);
  
  /* Color palette */
  --sfir-white: #ffffff;
  --sfir-light-gray: #f3f3f3;
  --sfir-dark-blue: #061c3f;
  --sfir-text-primary: #16325c;
  --sfir-text-secondary: #54698d;
  --sfir-border-color: #d8dde6;
  --sfir-focus-color: #1589ee;
  --sfir-focus-shadow: #0070d2;
  --sfir-success-color: #28a745;
  --sfir-error-color: red;
  --sfir-inactive-color: #c0c0c0;
  --sfir-icon-color: #706e6b;
  
  /* Spacing */
  --sfir-spacing-xs: 0.25rem;
  --sfir-spacing-sm: 0.5rem;
  --sfir-spacing-md: 1rem;
  --sfir-spacing-lg: 1.1rem;
  
  /* Border radius */
  --sfir-radius-sm: 0.25rem;
  --sfir-radius-md: 4px;
  --sfir-radius-lg: 25px;
  
  /* Font sizes */
  --sfir-font-xs: 0.55rem;
  --sfir-font-sm: 0.75rem;
  --sfir-font-md: 11.7px;
  --sfir-font-lg: 12px;
  --sfir-font-xl: 0.9rem;
  --sfir-font-button: 13px;
  
  /* Z-index scale */
  --sfir-z-dropdown: 1;
  --sfir-z-button: 1000;
  --sfir-z-fixed: 10000;
  --sfir-z-tabs: 999999;
}

* {
  box-sizing: border-box;
}

html,
body {
  white-space: normal;
  font-family: "Salesforce Sans", Arial, Helvetica, sans-serif;
  background-color: var(--sfir-white);
  margin: 0;
  height: 100%;
}

body {
  font-size: var(--sfir-font-md);
}

#root,
[data-reactroot] {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a,
a:visited,
.slds-button,
a > span {
  color: var(--sfir-blue-color);
}

.main {
  flex: 1;
  overflow-y: scroll;
}

.header-light {
  background: var(--sfir-light-gray);
  color: var(--sfir-dark-blue);
}
.header-light svg {
  fill: var(--sfir-dark-blue);
}

.header-dark {
  background: var(--sfir-dark-blue);
  color: var(--sfir-light-gray);
}
.header-dark svg {
  fill: var(--sfir-light-gray);
}

button,
input {
  width: 100%;
}

input.api-input {
  width: 32px;
  font-size: inherit;
  border: none;
  background: transparent;
}

.page-button {
  width: 100%;
}

.all-data-input {
  font-size: var(--sfir-font-lg);
  font-family: inherit;
  width: 100%;
  background-color: var(--sfir-white);
  color: var(--sfir-text-primary);
  border: 1px solid var(--sfir-border-color);
  border-radius: 0 var(--sfir-radius-sm) var(--sfir-radius-sm) var(--sfir-radius-sm);
  transition: border 0.1s linear, background-color 0.1s linear;
  display: inline-block;
  padding: 0 2rem 0 var(--sfir-spacing-xs);
  line-height: 1.875rem;
  vertical-align: middle;
  flex-grow: 1;
}

.all-data-input:active,
.all-data-input:focus {
  outline: 0;
  border-color: var(--sfir-focus-color);
  background-color: var(--sfir-white);
  box-shadow: 0 0 3px var(--sfir-focus-shadow);
}

.all-data-box-inner {
  margin-top: var(--sfir-spacing-sm);
  display: flex;
  flex-direction: column;
  min-height: 12em;
  color: var(--sfir-text-secondary);
  line-height: var(--sfir-spacing-lg);
}

.all-data-box-inner.empty {
  justify-content: center;
  align-items: center;
}

.all-data-box-data {
  flex: 1;
  font-size: var(--sfir-font-lg);
}

.input-with-dropdown {
  position: relative;
  flex-grow: 1;
}

.input-with-dropdown svg {
  width: var(--sfir-font-sm);
  height: var(--sfir-font-sm);
  position: absolute;
  right: var(--sfir-spacing-md);
  top: 50%;
  margin-top: -0.375rem;
  fill: var(--sfir-text-secondary);
}

.autocomplete-container {
  position: relative;
}

.autocomplete {
  border: 1px solid var(--sfir-border-color);
  border-radius: var(--sfir-radius-sm);
  padding: var(--sfir-spacing-xs) 0;
  background-color: var(--sfir-white);
  max-height: 260px;
  position: absolute;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: var(--sfir-z-dropdown);
}

.autocomplete-item {
  display: block;
  padding: var(--sfir-spacing-xs) var(--sfir-spacing-sm);
  color: var(--sfir-text-primary);
  line-height: var(--sfir-spacing-lg);
  cursor: pointer;
}

.autocomplete-item-main,
.autocomplete-item-sub,
.data-element {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.autocomplete-item-sub {
  font-size: var(--sfir-font-sm);
  color: var(--sfir-text-secondary);
  margin-top: calc(-1 * var(--sfir-spacing-xs));
}

.autocomplete-item mark {
  font-weight: 700;
  background-color: transparent;
}

.autocomplete-item.selected {
  background-color: var(--sfir-light-gray);
}

@keyframes bg-load {
  50% {
    background-color: #eef6f1;
    color: #006b2d;
  }
}

.all-data-box.loading,
.users-box.loading,
#showStdPageDetailsBtn.loading {
  animation: bg-load 1s cubic-bezier(0.5, 0.4, 0.5, 0.6) infinite;
}

.footer-small-text {
  font-size: var(--sfir-font-xs);
}

.all-data-box-data table {
  text-align: left;
  border-spacing: 0px;
  border-collapse: separate;
  table-layout: fixed;
  width: 100%;
}

.all-data-box-data td {
  padding: 0px;
}

.all-data-box-data th {
  padding: 0px;
  padding-right: 5px;
  width: 25%;
}

.top-space {
  margin-top: var(--sfir-spacing-sm);
  margin-bottom: 0.2em;
}
.left-space {
  margin-left: var(--sfir-spacing-sm);
}

.button-secondary {
  line-height: 1.2rem;
  width: auto;
  vertical-align: top;
  margin: 2px;
}

.center {
  text-align: center;
}
.justify-center {
  justify-content: center;
}


.inactive {
  color: var(--sfir-inactive-color);
}

.small-font {
  font-size: var(--sfir-font-lg);
}

.small-font a {
  padding-left: 6px;
  padding-right: 6px;
}

.small {
  font-size: 0.8em;
}

.oneliner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
}

.flag {
  vertical-align: middle;
  opacity: 70%;
}

.hide {
  display: none;
}

.mask {
  visibility: hidden;
}

a.icon {
  display: inline-block;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: var(--sfir-font-xl);
  mask-size: var(--sfir-font-xl);
  background-color: var(--sfir-icon-color);
  width: 16px;
  height: 16px;
}

a.icon-url {
  -webkit-mask-image: url(images/link.svg);
  mask-image: url(images/link.svg);
}
.pointer {
  cursor: pointer;
}

.text-error {
  color: var(--sfir-error-color);
}

.popup-media__figure {
  padding-top: var(--sfir-spacing-xs);
  padding-left: 0.3rem;
}
.popup-header__name-title {
  min-width: 0;
  font-size: var(--sfir-font-xl);
  padding-top: 0.4rem;
}
.popup-header__title {
  font-weight: 600;
  line-height: 1.25;
  display: block;
}
.popup-title {
  font-size: var(--sfir-font-xl) !important;
  padding-bottom: 0.6rem;
}
.popup-header {
  border: 0 !important;
  border-radius: 0 !important;
}
.popup-header.slds-page-header{
  padding-inline: 0 !important;
  padding-block: 0 !important;
}
.popup-header__name-title {
  margin-top: var(--sfir-spacing-xs);
}
.popup-header__icon {
  width: 1.75rem;
  height: 1.75rem;
}

.popup-icon_container,
.popup-icon__container {
  display: inline-block;
  line-height: 1;
  background-color: var(
    --slds-c-icon-color-background,
    var(--sds-c-icon-color-background, transparent)
  );
}
.progress-success {
  border-color: var(--sfir-success-color);
}
.progress-error {
  border-color: var(--sfir-error-color);
}


/* MAIN TABS*/
#mainTabs .slds-tabs_scoped__nav {
  position: fixed !important;
  z-index: var(--sfir-z-tabs) !important;
  width: 100%;
}

#mainTabs .slds-tabs_scoped__link {
  line-height: 2rem !important;
  padding-block: 0;
  padding-inline: 0.75rem;
  height: auto;
  border-bottom: none !important;
  font-weight: 500;
}

#mainTabs .slds-tabs_scoped__item.slds-is-active .slds-tabs_scoped__link {
  color: var(--sfir-blue-color) !important;
  border-bottom: none !important;
}
/* end of MAIN TABS*/

/* TAB CONTAINER */
.tab-container {
  position: relative;
  padding-top: 40px;
  width: 100%;
}
/* end of TAB CONTAINER */


.slds-dropdown__item a,
.slds-dropdown__item .dropdown-item{
  display: block !important;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis;
}

/* OBJECTS INFO */
.sfir-background-grey{
  background-color: var(--sfir-light-gray);
}

.all-data-box-inner .slds-card__body{
  margin: 0;
  padding: 0;
}

.sfir-id-badge {
  padding: 0.1rem;
  margin-right: var(--sfir-spacing-xs);
}

.sfir-button-new{
  max-width: 50px;
}

.slds-button{
  line-height: 1.2rem;
  min-height: 30px;
  margin-left: 0 !important;
  font-weight: 500;
  font-size: var(--sfir-font-button) !important;
}

.sfir-button-fit-content{
  width: fit-content;
}

.sfir-hr-small-margin{
  margin: 0.4rem 0;
}

.sfir-font-size_11px{
  font-size: 11.7px;
}

.sfir-slds-item_label_small{
  width: 17% !important;
  padding: 0 !important;
}
/* end of OBJECTS INFO */

.slds-button-group.sfir-padding-horizontal_small .slds-button{
  padding-left: var(--sfir-spacing-sm);
  padding-right: var(--sfir-spacing-sm);
}

.sfir-vertical-align_top{
  vertical-align: top;
}