@font-face {
  font-family: "Salesforce Sans";
  src: url(fonts/SalesforceSans-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Salesforce Sans";
  src: url(fonts/SalesforceSans-LightItalic.woff2);
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Salesforce Sans";
  src: url(fonts/SalesforceSans-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Salesforce Sans";
  src: url(fonts/SalesforceSans-Italic.woff2);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Salesforce Sans";
  src: url(fonts/SalesforceSans-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Salesforce Sans";
  src: url(fonts/SalesforceSans-BoldItalic.woff2);
  font-style: italic;
  font-weight: 700;
}

:root {
  --sfir-blue-color: var(--slds-g-color-palette-electric-blue-50);
}

* {
  box-sizing: border-box;
}

html,
body {
  white-space: normal;
  font-family: "Salesforce Sans", Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
}

body {
  font-size: 0.8125rem;
}

html,
body,
#root,
[data-reactroot] {
  height: 100%;
}

[data-reactroot] {
  display: flex;
  flex-direction: column;
}

a,
a:visited,
.slds-button,
a > span {
  color: var(--sfir-blue-color);
}

.main {
  flex: 1;
  overflow-y: scroll;
}

.header-light {
  background: #f3f3f3;
  color: #061c3f;
}
.header-light svg {
  fill: #061c3f;
}

.header-dark {
  background: #061c3f;
  color: #f3f3f3;
}
.header-dark svg {
  fill: #f3f3f3;
}

button,
input {
  width: 100%;
}

input.api-input {
  width: 32px;
  font-size: inherit;
  border: none;
  background: transparent;
}

.page-button {
  width: 100%;
}

.all-data-input {
  font-size: 0.9em;
  font-family: inherit;
  width: 100%;
  background-color: white;
  color: #16325c;
  border: 1px solid #d8dde6;
  border-radius: 0 0.25rem 0.25rem 0.25rem;
  transition: border 0.1s linear, background-color 0.1s linear;
  display: inline-block;
  padding: 0 2rem 0 0.25rem;
  line-height: 1.875rem;
  vertical-align: middle;
  flex-grow: 1;
}

.all-data-input:active,
.all-data-input:focus {
  outline: 0;
  border-color: #1589ee;
  background-color: #fff;
  box-shadow: 0 0 3px #0070d2;
}

.all-data-box-inner {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  min-height: 12em;
  /* should be heigh enough so the buttons below don't jump around when the contents of this box loads */
  color: #54698d;
  line-height: 1.5;
}

.all-data-box-inner.empty {
  justify-content: center;
  align-items: center;
}

.all-data-box-data {
  flex: 1;
  font-size: 0.9em;
}

.input-with-dropdown {
  position: relative;
  flex-grow: 1;
}

.input-with-dropdown svg {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-top: -0.375rem;
  fill: #54698d;
}

.autocomplete-container {
  position: relative;
}

.autocomplete {
  border: 1px solid #d8dde6;
  border-radius: 0.25rem;
  padding: 0.25rem 0;
  background-color: white;
  max-height: 260px;
  position: absolute;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}

.autocomplete-item {
  display: block;
  padding: 0.25rem 0.5rem;
  color: #16325c;
  line-height: 1.5;
  cursor: pointer;
}

.autocomplete-item-main,
.autocomplete-item-sub,
.data-element {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.autocomplete-item-sub {
  font-size: 0.75rem;
  color: #54698d;
  margin-top: -0.25rem;
}

.autocomplete-item mark {
  font-weight: 700;
  background-color: transparent;
}

.autocomplete-item.selected {
  background-color: #f4f6f9;
}

@keyframes bg-load {
  50% {
    background-color: #eef6f1;
    color: #006b2d;
  }
}

.all-data-box.loading,
.users-box.loading,
#showStdPageDetailsBtn.loading {
  animation: bg-load 1s cubic-bezier(0.5, 0.4, 0.5, 0.6) infinite;
}

.footer-small-text {
  font-size: 0.55rem;
}

.all-data-box-data table {
  text-align: left;
  border-spacing: 0px;
  border-collapse: separate;
  table-layout: fixed;
  width: 100%;
}

.all-data-box-data td {
  padding: 0px;
}

.all-data-box-data th {
  padding: 0px;
  padding-right: 5px;
  width: 25%;
}

.top-space {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}
.left-space {
  margin-left: 0.5em;
}

.button-secondary {
  line-height: 1.2rem;
  width: auto;
  vertical-align: top;
  margin: 2px;
}

.center {
  text-align: center;
}
.justify-center {
  justify-content: center;
}


.inactive {
  color: #c0c0c0;
}

.small-font {
  font-size: 0.9em;
}

.small-font a {
  padding-left: 6px;
  padding-right: 6px;
}

.small {
  font-size: 0.8em;
}

.oneliner {
  /* Force text onto a single line */
  white-space: nowrap;
  /* Hide the text that overflows the cell */
  overflow: hidden;
  /* Add the ellipsis (...) */
  text-overflow: ellipsis;
  /* Ensures the cell doesn't stretch unnecessarily */
  max-width: 0;
}

.flag {
  vertical-align: middle;
  opacity: 70%;
}

.hide {
  display: none;
}

.mask {
  visibility: hidden;
}

a.icon {
  display: inline-block;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 0.95rem;
  background-color: #706e6b;
  width: 16px;
  height: 16px;
}

a.icon-url {
  -webkit-mask-image: url(images/link.svg);
}
.pointer {
  cursor: pointer;
}

.text-error {
  color: red;
}

.popup-media__figure {
  padding-top: 0.25rem;
  padding-left: 0.3rem;
}
.popup-header__name-title {
  min-width: 0;
  font-size: 0.95rem;
  padding-top: 0.4rem;
}
.popup-header__title {
  font-weight: 600;
  line-height: 1.25;
  display: block;
}
.popup-title {
  font-size: 0.9rem !important;
  padding-bottom: 0.6rem;
}
.popup-header {
  border: 0 !important;
  border-radius: 0 !important;
}
.popup-header.slds-page-header{
  padding-inline: 0 !important;
  padding-block: 0 !important;
}
.popup-header__name-title,
.popup-header__name-title {
  margin-top: 0.25rem;
}
.popup-header__icon {
  width: 1.75rem;
  height: 1.75rem;
}

.popup-icon_container,
.popup-icon__container {
  display: inline-block;
  line-height: 1;
  background-color: var(
    --slds-c-icon-color-background,
    var(--sds-c-icon-color-background, transparent)
  );
}
.progress-success {
  border-color: green;
}
.progress-error {
  border-color: red;
}


/* MAIN TABS*/
#mainTabs .slds-tabs_scoped__nav {
  position: fixed !important;
  z-index: 999999 !important;
  width: 100%;
}

#mainTabs .slds-tabs_scoped__link {
  /* Reduce size of Scoped Tabs */
  line-height: 2rem !important;
  padding-block: 0;
  padding-inline: 0.75rem;
  height: auto;
  border-bottom: none !important;
  font-weight: 500;
}

#mainTabs .slds-tabs_scoped__item.slds-is-active .slds-tabs_scoped__link {
  color: var(--sfir-blue-color) !important;
}

#mainTabs .slds-tabs_scoped__link.slds-is-active .slds-tabs_scoped__link {
  border-bottom: none !important;
}
/* end of MAIN TABS*/

/* TAB CONTAINER */
.tab-container {
  position: relative;
  padding-top: 40px;
  width: 100%;
}
/* end of TAB CONTAINER */


.slds-dropdown__item a,
.slds-dropdown__item .dropdown-item{
  display: block !important;
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow: ellipsis;
}

/* OBJECTS INFO */
.sfir-background-grey{
  background-color: #f3f3f3;
}

.all-data-box-inner .slds-card__body{
  margin: 0;
  padding: 0;
}

.sfir-id-badge {
  padding: 0.1rem;
  margin-right: 0.25rem;
}

.sfir-button-new{
  max-width: 50px;
}

.slds-button{
  line-height: 1.2rem;
  min-height: 30px;
  margin-left: 0 !important;
  font-weight: 500;
}

.sfir-button-fit-content{
  width: fit-content;
}

.sfir-hr-small-margin{
  margin: 0.4rem 0;
}

.sfir-font-size_11px{
  font-size: 11.7px;
}

.sfir-slds-item_label_small{
  width: 17% !important;
}
/* end of OBJECTS INFO */

.slds-button-group.sfir-padding-horizontal_small .slds-button{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


.sfir-vertical-align_top{
  vertical-align: top;
}